### Mount the drive
Mount the google drive storage to the Jupyter Notebook.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Introduction
The given dataset contains the demographic data that that was extracted from the [1994 Census database](https://www.census.gov/en.html).

This dataset contains the demographic data acording to the the following columns:
**age, workclass, fnlwgt, education, education-num, martial-status, occupation, relationship, race,sex, capital-gain, capital-loss, hours-per-week, native-country, salary.**

Our aim is to answer the following questions and do an exploratory data analysis.  
1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
2. What is the average age of men?
3. What is the percentage of people who have a Bachelor's degree?
4. What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
5. What percentage of people without advanced education make more than 50K?
6. What is the minimum number of hours a person works per week?
7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
8. What country has the highest percentage of people that earn >50K and what is that percentage?
9. Identify the most popular occupation for those who earn >50K in India.

### Dataset Source

Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

The following code needs to load the necessasary packages to the Jupyter Notebook.

In [ ]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

Let's read the data set and get a sample of data to see the shape of the data.

In [ ]:
adult_data = pd.read_csv("/content/drive/MyDrive/Data-Analysis-Python/Course Project Experiments/adult.data.csv")
adult_data.head(5)

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

First we need to figure out the shape of our dataset. Output result format as below. **(Number of raws, Number of columns)**

In [ ]:
adult_data.shape

(32561, 15)

We can explore the dataset info as belows.

In [ ]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### Analyze the data set.

1. Let's figure out how many people of each race are represented in this dataset.

In [ ]:
adult_data.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

We can analyze the `sex` column to identify how many Males and Females are represented in this dataset.

In [ ]:
adult_data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. The average age of Men can be calculated as follows.

In [ ]:
group = adult_data.groupby(['sex']).age.mean()
average_age_men = round(group['Male'])
average_age_men

39

In below, we can see how many people of each education qualification are represented in this dataset.

In [ ]:
adult_data.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

3. Let's define the percentage of people who have a Bacherlor's degree.

a. Total number of people who have a Bacherlor's degree.

In [ ]:
bachelors = adult_data.education.value_counts()
num = bachelors.loc[pd.Index(['Bachelors'])][0]

b. Total number of people.

In [ ]:
total = adult_data.shape[0]

c. Calculating the percentage of people who have a Bachelor's Degree.

In [ ]:
(num/total)*100

16.44605509658794

4. Finding the percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K

In [ ]:
edu = adult_data.

AttributeError: ignored

6. Finding the minimum number of hours a person works per week.

In [ ]:
adult_data['hours-per-week'].min()

1

In [ ]:
adult_data.salary.dtype

dtype('O')